@font-face {
  font-family: pixel;
  src: url(https://fonts.googleapis.com/css?family=Press+Start+2P); 
}

:root {
  --black: #212529;
  --white: white;
  --blue: #209cee;
  --yellow: #f7d51d;
  --red: #e76e55;
  --grey: #d3d3d3;
  --green: #92cc41;
}
